.1_14 { 
	overflow:hidden;
}
.e1_14 { 
	width:1024px;
	height:1440px;
	position:absolute;
	background-image:url(images/crear_modificar_usuario.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_15 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(35.00000171363354, 166.00000530481339, 207.00000286102295, 0.20000000298023224);
	width:974px;
	height:714px;
	position:absolute;
	left:25px;
	top:265px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e1_16 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(127.5, 123.78125354647636, 123.78125354647636, 0.20000000298023224);
	width:1024px;
	height:161px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}
.e1_17 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(127.5, 123.78125354647636, 123.78125354647636, 0.20000000298023224);
	width:1024px;
	height:156px;
	position:absolute;
	left:-11px;
	top:1440px;
	border-radius:Symbol(figma.mixed)px;
}
.e1_18 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(35.00000171363354, 166.00000530481339, 207.00000286102295, 0.20000000298023224);
	width:974px;
	height:714px;
	position:absolute;
	left:25px;
	top:265px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e1_19 { 
	color:rgba(0, 0, 0, 1);
	width:66px;
	height:17px;
	position:absolute;
	left:69px;
	top:354px;
	font-family:Candal;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}
.e1_20 { 
	color:rgb(2, 0, 0);
	width:205px;
	height:28px;
	position:absolute;
	left:410px;
	top:199px;
	font-family:Candal;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e1_21 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:210px;
	height:20px;
	position:absolute;
	left:69px;
	top:387px;
}
.e1_22 { 
	color:rgba(0, 0, 0, 1);
	width:51px;
	height:17px;
	position:absolute;
	left:67px;
	top:636px;
	font-family:Candal;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}
.e1_23 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:315px;
	height:20px;
	position:absolute;
	left:69px;
	top:668px;
}
.e1_24 { 
	color:rgba(0, 0, 0, 1);
	width:116px;
	height:17px;
	position:absolute;
	left:66px;
	top:720px;
	font-family:Candal;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}
.e1_25 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:311px;
	height:20px;
	position:absolute;
	left:69px;
	top:749px;
}
.e1_26 { 
	color:rgba(0, 0, 0, 1);
	width:82px;
	height:17px;
	position:absolute;
	left:504px;
	top:720px;
	font-family:Candal;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}
.e1_27 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:311px;
	height:20px;
	position:absolute;
	left:504px;
	top:749px;
}
.e1_28 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-image:linear-gradient(0deg, rgba(174.25000101327896, 174.25000101327896, 174.25000101327896, 1) 0%,rgba(235.89160054922104, 235.89160054922104, 235.89160054922104, 0.4375) 45.3125%,rgba(138.1250050663948, 138.1250050663948, 138.1250050663948, 0) 100%) ;
	width:115px;
	height:43px;
	position:absolute;
	left:78px;
	top:900px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.1_28 { 
	border:1px solid rgba(168.93750607967377, 165.41796773672104, 165.41796773672104, 1);
}
.e1_29 { 
	color:rgba(0, 0, 0, 1);
	width:94px;
	height:19px;
	position:absolute;
	left:89px;
	top:914px;
	font-family:Candal;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}
.e1_30 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-image:linear-gradient(0deg, rgba(174.25000101327896, 174.25000101327896, 174.25000101327896, 1) 0%,rgba(235.89160054922104, 235.89160054922104, 235.89160054922104, 0.4375) 45.3125%,rgba(138.1250050663948, 138.1250050663948, 138.1250050663948, 0) 100%) ;
	width:115px;
	height:43px;
	position:absolute;
	left:251px;
	top:902px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.1_30 { 
	border:1px solid rgba(168.93750607967377, 165.41796773672104, 165.41796773672104, 1);
}
.e1_31 { 
	color:rgba(0, 0, 0, 1);
	width:94px;
	height:19px;
	position:absolute;
	left:262px;
	top:916px;
	font-family:Candal;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}
.e1_32 { 
	color:rgba(0, 0, 0, 1);
	width:61px;
	height:17px;
	position:absolute;
	left:65px;
	top:558px;
	font-family:Candal;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}
.e1_33 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:210px;
	height:20px;
	position:absolute;
	left:69px;
	top:585px;
}
.e1_34 { 
	color:rgba(0, 0, 0, 1);
	width:66px;
	height:17px;
	position:absolute;
	left:65px;
	top:423px;
	font-family:Candal;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}
.e1_35 { 
	color:rgba(0, 0, 0, 1);
	width:92px;
	height:17px;
	position:absolute;
	left:63px;
	top:490px;
	font-family:Candal;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}
.e1_36 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:210px;
	height:20px;
	position:absolute;
	left:69px;
	top:517px;
}
.e1_37 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:210px;
	height:20px;
	position:absolute;
	left:69px;
	top:455px;
}
.e1_38 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0.757029578089714, 46.306530609726906, 60.56249924004078, 0.5);
	width:275px;
	height:249px;
	position:absolute;
	left:490px;
	top:368px;
	border-radius:Symbol(figma.mixed)px;
	background-image:url(images/pasajeros.png);
	background-repeat:no-repeat;
	background-size:cover;
}
